#plan .plan, #home .home, #reviews .reviews, #admin .admin {
    background: #008cba;
    color: white; }

#mapcanvas {
    height: 15em;
}

/* fixes control scaling issue in Google maps .. because reasons*/
.gmnoprint img {
    max-width: none; 
}

.angular-google-map-container { height: 200px; }

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    position: static;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    border: solid 1px red;
}