//$topbar-breakpoint: 0px;
//$topbar-media-query: "only screen and (min-width: 0px)";
@import 'foundation/settings';

@import 'foundation';

// start footer
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 45px;
    position: static;
}
footer {
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: #333333;
    color: #ffffff;
    div {
        font-size: 70%;
        margin: 1em;
    }
}
// end footer