block variables

doctype html
html(lang="en", ng-app='CellarDoorApp')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')

    title= title

    link(rel="stylesheet", href="bower_components/foundation/css/normalize.css")
    //link(rel="stylesheet", href="bower_components/foundation/css/foundation.css")
    link(rel='stylesheet', href='/css/app.css')

    script(src="bower_components/modernizr/modernizr.js")
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/foundation/js/foundation.min.js")

    script(src='bower_components/angular/angular.min.js')
    script(src="/bower_components/angular-route/angular-route.js")

    script(src='js/app.js')

    block head

  body(id=page)

    nav.top-bar(data-topbar, data-options='{back_text:\'Backsy\',custom_back_text:true}')
      ul.title-area
        li.name
        li.toggle-topbar.menu-icon
          a(href='#') Menu
      section.top-bar-section
        ul.left
          li
            a(href='#') <
          li
            a(href='#') logo


    main(ng-view)

    footer
      div © 2014 Jareth van Bone.

    script.
      $(document).foundation();